---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import fastfoodGif from "../assets/fast-food.gif";
import pruViz from "../assets/pru-viz.png";
import nusSentiment from "../assets/nus-sentiment.png";

---

<PageLayout meta={{ title: "Shorts" }}>
	<section>
		<h1 class="title mb-3">Shorts</h1>
		<p class="mb-4">
			This section contains snippets from my latest work that I think are entertaining and/or eye-catching!
		</p>
        
        <h3 class="title text-lg mb-1">I'm currently working on <a class="text-cyan-500 underline hover:text-red-500" href="https://nus-betternextbus.vercel.app">NUS BetterNextBUS</a></h3>
        <p class="text-sm font font-semibold mb-3">A perfomant alternative to NUS's inhouse NextBus mobile app to help students & staff get their bus routes & timings faster!</p>

        <h3 class="title text-lg mb-3">Fast Food Chain Locations</h3>
        <Image 
            src={fastfoodGif}
            alt="Fast Food Malaysia Counts 2022"
            class="mb-3 rounded-2xl"
            format="webp"
        />

        <p class="mb-3">
            Interested in the actual data? Check out my blog post <a href="/posts/fast-food" target="_blank" class="font-bold text-cyan-500">here</a>.
            Discuss at <a href="https://www.reddit.com/r/malaysia/comments/zxd3mx/fast_food_outlets_counts_end_2022/" target="_blank" class="font-bold text-red-500">r/Malaysia</a>
        </p>
        
        <h3 class="title text-lg mb-3">Election Dashboard</h3>
        <Image 
            src={pruViz}
            alt="Fast Food Malaysia Counts 2022"
            class="mb-3 rounded-2xl"
            format="webp"
        />

        <p class="mb-3">
            Built with Streamlit & some Bootstrap components. Features interactive cross-filtering & pagination.
            Deployed and hosted on <a href="https://pru-viz.streamlit.app" target="_blank" class="font-bold text-cyan-500">Streamlit Cloud</a>
        </p>

        <h3 class="title text-lg mb-3">NUS Sentiment</h3>
        <Image 
            src={nusSentiment}
            alt="NUS Sentiment Homepage"
            class="mb-3 rounded-2xl"
            format="webp"
        />

        <p>
            Sentiment analysis & mining web app built in 24 hours for <b>NUS Hack&Roll 2023</b> with my friends Jake, Utkarsh and Minh Tuan.
            Deployed and hosted <a href="https://nus-sentiment.streamlit.app" target="_blank" class="font-bold text-cyan-500">here</a>.
            Scrapes <a href="https://www.reddit.com/r/nus/" target="_blank" class="font-bold text-red-500">r/NUS</a>
            to facilitate information gathering on modules, professors, and all things <b>NUS</b>
        </p>

    </section>
</PageLayout>
