---
import PageLayout from "@/layouts/Base";

---

<PageLayout meta={{ title: "Shorts" }}>
	<section>
		<h1 class="title mb-3">Shorts</h1>
		<p class="mb-4 text-xs">
			This section contains snippets from my work that I think are entertaining and/or eye-catching!
		</p>
    </section>
</PageLayout>
